*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Serif;
    font-size: 14pt;
}

body{
    margin: 0 auto;
    width: 60%;
}

input{
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    width: 100px;
    padding: 15px 30px;
    color: white;
    margin-top: 2%;
    background-color: mediumseagreen;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.mesge{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    min-height: 300px;
    background-color: lavender;
    border: 2px lavenderblush;
    border-radius: 10px;
}
p{
    font-style: italic;
}

button:hover{
    color: white;
    zoom: inherit;
    background-color: blue;
}